* {
	box-sizing: border-box;
}
 
body {
	background: black url("../images/hpbackground14.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    font-size: 30px;
    font-weight: 500;
    color: white;
    font-family: 'Fontdiner Swanky', cursive;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* opening page style */
.cover>img {
	position: absolute;
	z-index: 5;
	height: 100%;
	width: 100%;
	margin: auto;
	-webkit-animation: scaling 2.5s 4 ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* opening page animation */
@-webkit-keyframes scaling {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.3);
    }
}

/* all div styles */
.heading, .start, .stats, .trivia {
	border: 2px double white;
	border-radius: 5px;
	margin: 18px;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
}

.trivia {
	margin-top: 25px;
}

/* font for answers and exclamation */
h1>span {
	font-size: 60px;
}

/* hiding answer and result divs */
#displayAnswer, #displayResults {
	display: none;
}

/* timer css */
.timer>p {
	height: 50px;
	width: 50px;
	font-size: 30px;
	color: black;
	border-radius: 50%;
	margin: 0 auto 0 auto;
	background-color: #04ff00;
	border: 4px solid #028700;
	font-weight: 600;
	padding-left: 11px;
}

/* hide timer at start of game */
.timer {
	display: none;
}

/* styling question */
#question {
	margin: 10px;
	margin-bottom: 15px;
}

/* style for choices */
.answerOptions {
	margin: 10px;
	font-size: 25px;
}

/* style for results */
p>span {
	font-size: 50px;
}

/* style for dynamically generated exclamtion and span */
#displayAnswer>p>span, #exclamation {
	font-size: 35px;
}

#exclamation {
	font-size: 30px;
}

/* setting height for gif image */
.answerImage>img {
	height: 250px;
}

/* media query for larger screens */
@media screen and (min-height: 800px) {
	.heading, .start, .stats, .trivia {
		margin: 20px;
	}

	.trivia {
		margin-top: 35px;
	}
	.answerImage>img {
		height: 300px;
	}
} 

#secs {
	color: #04ff00;
	font-size: 30px;
}

@media screen and (max-height: 700px) {
	body {
		font-size: 25px;
	}

	/* all div styles */
	.heading, .start, .stats, .trivia {
		margin: 10px;
		padding: 15px;
	}

	.trivia {
		margin-top: 18px;
	}

	/* font for answers and exclamation */
	h1>span {
		font-size: 55px;
	}

	/* style for results */
	p>span {
		font-size: 25px;
	}

	/* style for dynamically generated exclamtion and span */
	#displayAnswer>p>span, #exclamation {
		font-size: 25px;
	}

	#exclamation {
		font-size: 25px;
	}

	/* setting height for gif image */
	.answerImage>img {
		height: 230px;
	}

	/* styling question */
	#question {
		font-size: 27px;
	}

	/* style for choices */
	.answerOptions {
		margin: 10px;
		font-size: 25px;
	}

	h1 {
		font-size: 28px;
	}
}