* {
	box-sizing: border-box;
}

body {
	background: black url("../images/hpbackground14.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    font-size: 30px;
    font-weight: 500;
    color: white;
    font-family: 'Fontdiner Swanky', cursive;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover>img {
	position: absolute;
	z-index: 5;
	height: 100%;
	width: 100%;
	margin: auto;
	-webkit-animation: scaling 2s 4 ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes scaling {
    from {
        -webkit-transform: scale(1);
        /*opacity: 1;*/
    }
    to {
        -webkit-transform: scale(1.1);
        /*opacity: 0.5;*/
    }
}

.heading, .start, .stats, .trivia {
	border: 2px double white;
	border-radius: 5px;
	margin: 18px;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
}

.trivia {
	margin-top: 25px;
}

h1>span {
	font-size: 60px;
}

#displayAnswer, #displayResults {
	display: none;
}

.timer>p {
	height: 50px;
	width: 50px;
	font-size: 30px;
	color: black;
	border-radius: 50%;
	margin: 0 auto 0 auto;
	background-color: #04ff00;
	border: 4px solid #028700;
	font-weight: 600;
	padding-left: 11px;
}

.timer {
	display: none;
}

#question {
	margin: 10px;
	margin-bottom: 15px;
}

.answerOptions {
	margin: 10px;
	font-size: 25px;
}

p>span {
	font-size: 50px;
}

#displayAnswer>p>span, #exclamation {
	font-size: 35px;
}

#exclamation {
	font-size: 30px;
}

.answerImage>img {
	height: 250px;
}

@media screen and (min-height: 800px) {
	.heading, .start, .stats, .trivia {
		margin: 20px;
	}

	.trivia {
		margin-top: 35px;
	}
	.answerImage>img {
		height: 300px;
	}
} 